<h2>Edit Source sub reddit</h2>

<%= render "form.html", Map.put(assigns, :action, source_sub_reddit_path(@conn, :update, @source_sub_reddit)) %>

<span><%= link "Back", to: source_sub_reddit_path(@conn, :index) %></span>
