<h2>Listing Source sub reddits</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for source_sub_reddit <- @source_sub_reddits do %>
    <tr>
      <td><%= source_sub_reddit.name %></td>

      <td class="text-right">
        <span><%= link "Show", to: source_sub_reddit_path(@conn, :show, source_sub_reddit), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: source_sub_reddit_path(@conn, :edit, source_sub_reddit), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: source_sub_reddit_path(@conn, :delete, source_sub_reddit), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Source sub reddit", to: source_sub_reddit_path(@conn, :new) %></span>
