<h2>New Source sub reddit</h2>

<%= render "form.html", Map.put(assigns, :action, source_sub_reddit_path(@conn, :create)) %>

<span><%= link "Back", to: source_sub_reddit_path(@conn, :index) %></span>
