<h2>Show Source sub reddit</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @source_sub_reddit.name %>
  </li>

  <li>
    <strong>Scrape text posts?</strong>
    <%= @source_sub_reddit.scrape_text_posts %>
  </li>

  <li>
    <strong>Default subscription?</strong>
    <%= @source_sub_reddit.default_subscription %>
  </li>

</ul>

<span><%= link "Edit", to: source_sub_reddit_path(@conn, :edit, @source_sub_reddit) %></span>
<span><%= link "Back", to: source_sub_reddit_path(@conn, :index) %></span>
