<h2>Listing Api keys</h2>

<table class="table">
  <thead>
    <tr>
      <th>Key</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for api_key <- @api_keys do %>
    <tr>
      <td><%= api_key.key %></td>

      <td class="text-right">
        <span><%= link "Show", to: api_key_path(@conn, :show, api_key), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: api_key_path(@conn, :edit, api_key), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: api_key_path(@conn, :delete, api_key), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Api key", to: api_key_path(@conn, :new) %></span>
