<h2>Show Api key</h2>

<ul>

  <li>
    <strong>Key:</strong>
    <%= @api_key.key %>
  </li>

</ul>

<span><%= link "Edit", to: api_key_path(@conn, :edit, @api_key) %></span>
<span><%= link "Back", to: api_key_path(@conn, :index) %></span>
