* {
  font-family: Helvetica, sans-serif;
}

.title-section {
  width: 100%;

  position: relative;
}

@keyframes title-section-shrink {
  from {
    padding: 50vh 0;
  }
  to {
    padding: 10vh 0;
  }
}

.title-section.loaded .loaded {
  animation: title-section-shrink 1s 0.3s forwards;
}

html {
  overflow-x: hidden;
}

.title-message {
  text-align: center;

  padding: 50vh 0;

  font-size: 2em;

  transition: opacity 0.3s;
}

.title-message.loading {
  position: absolute;
  width: 100%;
}

body {
  background-color: #eee;
}

.memes {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  grid-auto-rows: 20px;

  grid-column-gap: 20px;

  margin: 1em;
}

@media screen and (max-width: 700px) {
  .memes {
    grid-template-columns: 1fr;
  }

  .text-meme h2.meme-title {
    font-size: 1.5em;
  }
}

.meme-inner {
  padding: 1em;
  background-color: #fff;

  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.meme img {
  width: 100%;
}

.more-memes {
  border: none;
  background: #eee;
  cursor: pointer;
  
  width: 100%;
  height: 5rem;

  font-size: 2em;

  grid-column-start: 1;
  grid-column-end: -1;
}

.image-container {
  position: relative;
}

.image-container > img {
  position: absolute;
  top: 0;
  left: 0;
}

.text-meme h2 {
  font-weight: normal;
  font-size: 2em;
  padding: 0 1em;
}

.text-meme a {
  color: #808080;
  text-align: right;
  width: 100%;
  display: inline-block;
}

.text-meme a:hover {
  color: #404040;
}

.text-meme .meme-inner {
  transform: translate(-3px, -3px);
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.1), 0 0 4px 2px rgba(0, 0, 0, 0.1);
}