<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memes</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="title-section">
      <div class="title-message loading">
        Loading lots of memes...
      </div>
      <div class="title-message loaded" style="opacity: 0;">
        Scroll down for a stream of memes!
      </div>
    </div>

    <div class="memes">
      <%= render "some_memes.html", memes: @memes %>

      <button class="more-memes">
        Get me more memes!
      </button>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
    var more_memes_url = "<%= meme_page_path(@conn, :more_memes) %>";
    var loading = false;

    scrollTo(0, 0)

    $(document).ready(function(){
      setTimeout(function(){
        $('.title-message.loading').css({'opacity': 0})
        $('.title-message.loaded').css({'opacity': 1})
        $('.title-section').addClass('loaded')
        $('html').css({'overflow-y': 'auto'})

        var gap = 1;

        function calculate(){
          $('.meme').each(function(){
            var rows = Math.ceil($(this).find('.meme-inner').outerHeight() / 20) + gap
            $(this).css({
              "grid-row-end": "span " + rows
            })
          })
        }

        $(window).resize(calculate)

        calculate()

        $('.more-memes').click(function(){
          if(loading)
            return;
          loading = true;
          var offset = $('.memes').children().length - 1

          $.get(more_memes_url + "?offset=" + offset, function(data) {
            var content = $(data)
            $('.more-memes').before(content)
            calculate()
            loading = false;
          });
        })

        $(document).scroll(function(){
          var height = $(document.body).outerHeight();

          if((scrollY +  $(window).height()) / height > 0.8){
            $('.more-memes').click()
          }
        })
      }, 500)
    })
    </script>
  </body>
</html>