<%= for meme <- @memes do %>
  <div class="meme <%= if(meme.image_url, do: "image-meme", else: "text-meme") %>">
    <div class="meme-inner">
      <h2 class="meme-title"><%= meme.title %></h2>
      <!-- #<%= meme.score %> -->
      <a href="<%= meme.source_url %>" target="_blank" rel="noopener noreferrer">
        <%= if meme.image_url do %>
        <div class="image-container">
          <!-- <%= meme.image_width %>x<%= meme.image_height %> -->
          <div class="image-placeholder" style="padding-top: <%= (meme.image_height / meme.image_width) * 100 %>%;"></div>
          <img src="<%= meme.image_url %>" alt="<%= meme.title %>">
        </div>
        <% else %>
        Source
        <% end %>
      </a>
    </div>
  </div>
<% end %>