<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Memes!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <header>
        <nav role="navigation">
          <ul class="nav nav-pills">
            <li class="nav-item"><%= link "Memes", to: meme_path(@conn, :index), class: "nav-link" %></li>
            <li class="nav-item"><%= link "API Keys", to: api_key_path(@conn, :index), class: "nav-link" %></li>
            <li class="nav-item"><%= link "Source subreddits", to: source_sub_reddit_path(@conn, :index), class: "nav-link" %></li>
            <li class="nav-item"><%= link "Meme page", to: meme_page_path(@conn, :memes), class: "nav-link" %></li>
          </ul>
        </nav>
      </header>

      <%= if get_flash(@conn, :info) do %><p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p><% end %>
      <%= if get_flash(@conn, :error) do %><p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p><% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
