<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <% IO.inspect @changeset %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :image_url, class: "control-label" %>
    <%= text_input f, :image_url, class: "form-control" %>
    <%= error_tag f, :image_url %>
  </div>

  <div class="form-group">
    <%= label f, :source_url, class: "control-label" %>
    <%= text_input f, :source_url, class: "form-control" %>
    <%= error_tag f, :source_url %>
  </div>

  <div class="form-group">
    <%= label f, :score, class: "control-label" %>
    <%= number_input f, :score, step: "any", class: "form-control" %>
    <%= error_tag f, :score %>
  </div>

  <div class="form-group">
    <%= label f, :image_width, class: "control-label" %>
    <%= number_input f, :image_width, step: "any", class: "form-control" %>
    <%= error_tag f, :image_width %>
  </div>

  <div class="form-group">
    <%= label f, :image_height, class: "control-label" %>
    <%= number_input f, :image_height, step: "any", class: "form-control" %>
    <%= error_tag f, :image_height %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
