<h2>Listing <%= @memes |> length %> Memes</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image url</th>
      <th>Source url</th>
      <th>Score</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for meme <- @memes do %>
    <tr>
      <td><%= meme.title %></td>
      <td><%= meme.image_url %></td>
      <td><%= meme.source_url %></td>
      <td><%= meme.score %></td>

      <td class="text-right">
        <span><%= link "Show", to: meme_path(@conn, :show, meme), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: meme_path(@conn, :edit, meme), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: meme_path(@conn, :delete, meme), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Meme", to: meme_path(@conn, :new) %></span>
