<h2>Show Meme</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @meme.title %>
  </li>

  <li>
    <strong>Image url:</strong>
    <%= @meme.image_url %>
  </li>

  <li>
    <strong>Source url:</strong>
    <%= @meme.source_url %>
  </li>

  <li>
    <strong>Score:</strong>
    <%= @meme.score %>
  </li>

  <li>
    <strong>Width:</strong>
    <%= @meme.image_width %>
  </li>

  <li>
    <strong>Height:</strong>
    <%= @meme.image_height %>
  </li>

</ul>

<span><%= link "Edit", to: meme_path(@conn, :edit, @meme) %></span>
<span><%= link "Back", to: meme_path(@conn, :index) %></span>
